<!DOCTYPE html>

<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    {% block metas %}{% endblock %}
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('public/css/ie.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('public/css/music/global.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('public/css/music/header.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('public/css/music/footer.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('public/css/nprogress.css') }}"/>
    {% endblock %}
    <link href="//fonts.googleapis.com/css?family=Raleway:300" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Sniglet:800" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
    <title>{% block title %}Banana Music{% endblock %}</title>
</head>
<body>
{% include "::ie.html.twig" %}

<header>
    <section>
        <a href="{{ path('banana_station_music_music_games') }}" class="red">
            <img src="{{ asset('public/img/music/playstation.svg') }}" alt="Playstation controller"/>
            <h2>Games</h2>
        </a>
        <a href="{{ path('banana_station_music_music_trap') }}" class="yellow">
            <img src="{{ asset('public/img/music/dollar.svg') }}" alt="Dollar"/>
            <h2>Trap</h2>
        </a>
        <a href="{{ path('banana_station_music_music_electro') }}" class="blue">
            <img src="{{ asset('public/img/music/disk.svg') }}" alt="Vinyl record"/>
            <h2>Electro & House</h2>
        </a>
        <a href="{{ path('banana_station_music_music_dubstep') }}" class="green">
            <img src="{{ asset('public/img/music/syringe.svg') }}" alt="Syringue"/>
            <h2>Dubstep & DnB</h2>
        </a>
    </section>
</header>

{% block body %}
{% endblock %}

<footer>
    <section id="total">
        <h4>Musics total : {{ getTotalMusic() }}</h4>
    </section>

    <section id="totals">
        <h4 class="red">Games total : {{ getTotalGames() }}</h4>
        <h4 class="yellow">Trap total : {{ getTotalTrap() }}</h4>
        <h4 class="blue">E & H total : {{ getTotalElectro() }}</h4>
        <h4 class="green">D & DnB total : {{ getTotalDubstep() }}</h4>
    </section>

    <section id="nav">
        <ul>
            <li><a href="{{ path('banana_station_music_music_games') }}">Games</a></li>
            <li><a href="{{ path('banana_station_music_music_trap') }}">Trap</a></li>
            <li><a href="{{ path('banana_station_music_music_electro') }}">Electro & House</a></li>
            <li><a href="{{ path('banana_station_music_music_dubstep') }}">Dubstep & Drum and bass</a></li>
        </ul>
        <ul>
            <li><a href="{{ path('banana_station_music_racine') }}">Home</a></li>
            <li><a href="{{ path('banana_station_core_racine') }}">Banana Station</a></li>
            {% if is_granted('ROLE_MUSIC') %}
                <li><a href="{{ path('banana_station_music_admin') }}">Admin</a></li>
            {% endif %}
        </ul>
    </section>
</footer>

{% block javascripts %}
{% endblock %}
</body>
</html>