{% extends "core.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/core/form.css') }}"/>
{% endblock %}

{% block body %}
    <section>
        <h2>Modifier une note</h2>

        {{ form_start(form) }}

        {{ form_widget(form.contenu, { 'attr': { 'placeholder': 'Contenu de la note', 'rows': 4 } }) }}

        <input type="submit" value="Publier"/>

        {{ form_end(form) }}
    </section>
{% endblock %}