{% extends "::core.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ asset('public/css/core/home.css') }}"/>
{% endblock %}

{% block body %}

    <section id="projects">
        <p>Consultez ici la liste des tous les projets Banana Station</p>
        <p><a href="{{ path('banana_station_core_projects') }}">Projects</a></p>
    </section>

    <section id="sites">
        <h2>Tous les sites Banana Station :</h2>
        <div>
            <a id="music" href="{{ path('banana_station_music_racine') }}">
                <h3>Banana Music</h3>
                <span>
                <img src="{{ asset('public/img/music/playstation.svg') }}" alt="Playstation controller"/>
            </span>
                <span>
                <img src="{{ asset('public/img/music/dollar.svg') }}" alt="Dollar"/>
            </span>
                <span>
                <img src="{{ asset('public/img/music/disk.svg') }}" alt="Vinyl record"/>
            </span>
                <span>
                <img src="{{ asset('public/img/music/syringe.svg') }}" alt="Syringue"/>
            </span>
            </a>
            <a id="tron" href="{{ path('banana_station_tron_racine') }}">
                <h3>Banana Tron</h3>
                <img src="{{ asset('public/img/core/tron.png') }}" alt="Banana Tron">
            </a>
            <a id="poke" href="{{ path('banana_station_poke_racine') }}">
                <h3>Banana Poke</h3>
                <span></span>
                <span></span>
                <span></span>
            </a>
            <a id="notifier" href="{{ path('banana_station_notifier_racine') }}">
                <h3>RSS Notifier</h3>
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>
    </section>

    <section id="about">
        <h2>Banana Station vous dites ?</h2>
        <p>Banana Station c'est un grand bac à sable regroupant plein de projets issus de mes études et de mes
            expérimentations personnelles. Partisan de l'open source, tout le code source est hébergé sur Git Hub.
            Mets-toi bien il y a plein de choses à découvrir ici ;)</p>
        <ul>
            <li><i class="fa fa-twitter" aria-hidden="true"></i>&emsp;<a href="https://www.twitter.com/DowdowGG">@DowdowGG</a>
            </li>
            <li><i class="fa fa-linkedin-square" aria-hidden="true"></i>&emsp;<a
                        href="https://www.linkedin.com/in/léo-riera-36383189">Léo Riera</a></li>
            <li><i class="fa fa-github" aria-hidden="true"></i>&emsp;<a href="https://github.com/Dowdow">Dowdow</a></li>
        </ul>
    </section>

{% endblock %}