{% extends "::music.html.twig" %}

{% block metas %}
    <meta name="theme-color" content="{{ style|mcolor }}">
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('public/css/music/grid.css') }}"/>
{% endblock %}

{% block body %}
    <form id="search" method="post" action="{{ path('banana_station_music_search') }}">
        <label for="input-search">Search</label>
        <input id="input-search" type="text" name="search">
    </form>

    <section id="music">
        <div id="music-cross">X</div>
        <div>
            <img id="previous" src="{{ asset('public/img/music/previous.svg') }}" alt="previous">
            <div id="player-div">
                <div id="player"></div>
            </div>
            <img id="next" src="{{ asset('public/img/music/next.svg') }}" alt="next">
        </div>
        <h2 id="music-title"></h2>
    </section>

    <section id="grid" class="{{ style|mcolorclass }}">
        {% for music in musics %}
            <div id="{{ music.youtubeid }}" class="{{ music.style|mcolorclass }}" onclick="openPlayer(event)"
                 data="{{ loop.index0 }}">
                <img src="http://img.youtube.com/vi/{{ music.youtubeid }}/0.jpg" alt="{{ music.title }}"/>
                <h3>{{ music.title }}</h3>
                {% if is_granted('ROLE_MUSIC') %}
                    <a href="{{ path('banana_station_music_admin_edit', { id : music.id }) }}">Edit</a>
                    <a href="{{ path('banana_station_music_admin_delete', { id : music.id }) }}">Delete</a>
                {% endif %}
            </div>
        {% else %}
            <section id="empty">
                <h3>There is no music here :(</h3>
                <h3>Come back soon !</h3>
            </section>
        {% endfor %}
    </section>

    {% if app.request.attributes.get('_route') != 'banana_station_music_search' and musics|length > 0 %}
        <div id="more">
            <h3>I want more !</h3>
        </div>
    {% endif %}

{% endblock %}

{% block javascripts %}
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="{{ asset('public/js/nprogress.js') }}"></script>
    <script src="{{ asset('public/js/music/script.js') }}"></script>
    <script>
        var admin = {% if is_granted('ROLE_MUSIC') %}true{% else %}false{% endif %};
        var style = "{{ style }}";
        var pages = "{{ path('banana_station_music_page', { style : style|lower, page : 1 }) }}";
        {% for music in musics %}
        musics.push({
            "id": "{{ music.id }}",
            "title": "{{ music.title }}",
            "youtubeid": "{{ music.youtubeid }}",
            "style": "{{ music.style }}",
            "date": "{{ music.date.date }}",
            "edit": "{{ path('banana_station_music_admin_edit', { id : music.id }) }}",
            "delete": "{{ path('banana_station_music_admin_delete', { id : music.id }) }}"
        });
        {% endfor %}
    </script>
{% endblock %}